* {
    margin: 0;
    padding: 0;
}

.sec1 {
    background-image: url(photos/backgroundImg.jpg);
    height: 120%;
    width: 100%;
    background-size: cover;
    background-position: bottom -63vh right;
    background-repeat: no-repeat;
    margin-bottom: 50px;

}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-inline: 16vh;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0));
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    color: white;
    font-family: 600;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

 ul li:hover{
    color: black;
}
.logo {
    height: 7.5vh;
}

.hr {
    width: 84vw;
    height: 0vh;
}

.mfonts {
    position: relative;
    top: 25vh;
    left: 6vw;
    display: inline-block;

}

.fonts1 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.fonts2 {
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;

}

.fonts3 {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 10px;

}

.btn1 {
    background-color: #1c69d4;
    color: white;
    height: 6vh;
    width: 10vw;
    border: none;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

}

.btn1:hover {
    background-color: #0653B6;
}



/* ----sec 2---- */

.sec2 {
    background-image: url(photos/backgrounfimg2.jpg);
    position: relative;
    height: 85%;
    width: 100%;
    background-size: cover;
    background-position: bottom -63vh right;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.mfonts2 {
    position: absolute;
    top: 27vh;
    left: 6vw;
    display: inline-block;

}

.fonts11 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.fonts22 {
    color: white;
    font-size: 150px;
    padding-bottom: 10px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    margin-top: -5vh;
    margin-bottom: -3vh;


}

.fonts33 {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 10px;

}

.btn2 {
    background-color: #1c69d4;
    color: white;
    height: 6vh;
    width: 10vw;
    border: none;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

}

.btn2:hover {
    background-color: #0653B6;
}


/* ----sec 3--- */

.sec3 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.mainh11 {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 8vh;
}

.h1 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #666666;
}

.h11 {
    font-size: 55px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #262626;
}

.mainicon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */

}

.box {
    height: 30vh;
    width: 20vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}


.icon {
    height: 80px;
    width: 80px;
    padding-bottom: 3vh;
}


.h2 {
    font-size: 24px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #262626;
    padding-bottom: 4vh;
}

.boxbtn {
    height: 7vh;
    width: 15vw;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;


}

.boxbtn:hover {
    background-color: #000000;
    color: white;
}



/* -----sec4------ */

.sec4 {

    margin-bottom: 50px;
    position: relative;



}

.video {
    height: 116%;
    width: 100%;

}

.bmwlogo {
    height: 18vh;
    width: 18vw;
    background-image: url(photos/BMW-M-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 2px;
    top: 8px;


}



.msec5 {
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    position: absolute;
    top: 34vh;
    left: 10vh;


}

.h5 {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    /* margin-bottom: 2vh; */
    letter-spacing: 2px;

}

.h55 {
    font-size: 16px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    text-align: justify;
    letter-spacing: 2px;

}

.h555 {
    font-size: 90px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: white;

}

.btn3 {
    background-color: #1c69d4;
    color: white;
    height: 5vh;
    width: 9vw;
    border: none;
    font-weight: 500;
    font-size: 17px;
    border-radius: 4px;
    margin-top: 2vh;
    cursor: pointer;

}

.btn3:hover {
    background-color: #0653B6;
}




/* ----sec 6---- */


.sec6 {
    /* border: 1px solid black; */
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;

}

.bgcar {
    height: 55vh;
    width: 45vw;
}

.msec6 {
    height: 55vh;
    width: 42vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2vh;
}

.h6 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #666666;
}

.h66 {
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #262626;
}

.h666 {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}


.btn4 {
    height: 7vh;
    width: 14vw;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 3vh;
}

.btn4:hover {
    background-color: #000000;
    color: white;
    transition: 0.3s;
}


/* -----sec 7----- */


.sec7 {
    /* border: 1px solid black; */
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;

}

.bgcar1 {
    height: 55vh;
    width: 45vw;
}

.msec7 {
    height: 55vh;
    width: 42vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2vh;
}

.h7 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #666666;
}

.h77 {
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #262626;
}

.h777 {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}


.btn5 {
    height: 7vh;
    width: 14vw;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 3vh;
    cursor: pointer;


}

.btn5:hover {
    background-color: #000000;
    color: white;
    transition: 0.3s;
}

.sec8 {
    height: 10vh;
    display: flex;
    align-items: center;
    border-top: 2px solid #E3DFDF;
}

.mhr {
    margin-left: 5vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.hr1 {
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

.hr2 {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}


/* -----footer----- */

.sec9 {
    height: 50vh;
    background-color: #e3dfdf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box1 {
    height: 40vh;
    width: 30vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    cursor: pointer;
    margin-top: 5vh;
}

.icon1 {
    border: 2px solid black;
    border-radius: 3px;
    color: #1c69d4;
}

.icon1:hover {
    color: #000000;
}

.icon2 {
    border: 2px solid black;
    color: #000000;
    border-radius: 3px;
}

.icon2:hover {
    color: rgba(0, 0, 0, 0.461);
}

.icon3 {
    border: 2px solid black;
    color: red;
    border-radius: 3px;
}

.icon3:hover {
    color: #000000;
}

.icon4 {
    border: 2px solid black;
    color: #0653B6;
    border-radius: 3px;
}

.icon4:hover {
    color: #000000;
}

.icon5 {
    border: 2px solid black;
    color: #1DA1F2;
    border-radius: 3px;
}

.icon5:hover {
    color: #000000;
}

.h9 {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-bottom: 3vh;
    text-transform: uppercase;
	background-image: linear-gradient(234deg, #000000 0%, #00d0ff 29%, #000000 67%, #000000 100%);
	background-size: 200%;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.h99 {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #666666;
    text-align: justify;
}


.box2 {
    height: 40vh;
    width: 32vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}

.box3 {
    height: 40vh;
    width: 25vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

.boxh2 {
    font-size: 22px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    margin-bottom: 3vh;
    text-decoration: underline;
    position: relative;
    right: 7%;
}

.ulh2 {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    margin-bottom: 1vh;
}

.hr99{
    height: 1px;
    width: 95vw;
    background-color: #000000;
     position: absolute;
    bottom: 1vh;
} 

.hr999{
    height: 10vh;
    background-color: #e3dfdf;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
} 





        /* -----responsiv--- */

.rsec1 {
    height: 50vh;
    background-color: #e3dfdf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: none;
    
}

.box11 {
    height: 40vh;
    width: 30vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxicons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
    /* border: 1px solid black; */
    font-size: 40px;
}

.icon11 {
    border: 2px solid black;
    border-radius: 3px;
    color: #1c69d4;
}

.icon11:hover {
    color: #000000;
}

.icon22 {
    border: 2px solid black;
    color: #000000;
    border-radius: 3px;
}

.icon22:hover {
    color: rgba(0, 0, 0, 0.461);
}

.icon33 {
    border: 2px solid black;
    color: red;
    border-radius: 3px;
}

.icon33:hover {
    color: #000000;
}

.icon44 {
    border: 2px solid black;
    color: #0653B6;
    border-radius: 3px;
}

.icon44:hover {
    color: #000000;
}

.icon55 {
    border: 2px solid black;
    color: #1DA1F2;
    border-radius: 3px;
}

.icon55:hover {
    color: #000000;
}

.rh99 {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-bottom: 3vh;
    text-transform: uppercase;
	background-image: linear-gradient(234deg, #000000 0%, #00d0ff 29%, #000000 67%, #000000 100%);
	background-size: 200%;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.rh999 {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #666666;
    text-align: justify;
}


.box22 {
    height: 40vh;
    width: 32vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.boxh22 {
    font-size: 22px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    margin-bottom: 3vh;
    text-decoration: underline;
   
}

.ulh22 {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    margin-bottom: 1vh;
}

.select{
    height: 5vh;
    width: 90vw;
    background-color:#262626;
    color: white;
    border: none;
    font-size: 13.8px;

}

.Rhr{
    height: 1px;
    width: 95vw;
    background-color: #000000;
    position: absolute;
    bottom: 1vh;
}

.Rhr2{
    
    height: 10vh;
    background-color: #e3dfdf;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
